@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
    background-color: rgb(45, 45, 45);
}

 * {
    font-family: 'Open Sans', sans-serif;
 }

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60%;
    height: 70%;
    transform: translate(-50%, -50%);
    background-color: rgb(83, 83, 83);
    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(71, 70, 70);
}

.greetings {
    position: relative;
    top: 0px;
    width: 100%;
    background-color: rgb(102, 255, 110);
    height: 40%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.mods {
    position: relative;
    top: -6.5%;
    background-color: rgb(97, 97, 97);
    width: 100%;
    height: 60%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mods-title {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    position: relative;
    top: 3px;
}

.mods ul {
    list-style-type: none;
}

.mod-info {
    position: relative;
    top: -8px;
    background-color: rgb(111, 111, 111);
    border-radius: 12px;
    left: -18px;
    height: 60px;
}

.mod-info h5 {
    position: relative;
    top: 4px;
    left: 6px;
}

.mod-info {}